
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");

* {
    box-sizing: border-box;  
    margin: 0;
    padding: 0;
}

:root {
    --light-pink: #fff4ed;
    --softer-pink:#ffe7f9;
    --harder-pink: #ffc9f1;
    --hard-pink:  #ffb8ed;
    --dark-purple: #6715ff;
    --purple: rgb(179, 0, 255);
    --font-size-3: 25px;
}

html {
    font-family: "Poppins", sans-serif;
   background-color: var(--softer-pink);
}
.header-container {
    display: flex;
    align-items: center;
    justify-items: center;

    padding-left: 3rem;
    justify-content: space-between;
   
}
.menu-container {
    display: flex;
    height:calc(4rem + 5dvw);
    width: calc(4rem + 5dvw);
    background-color: var(--purple);
    box-shadow: var(--dark-purple) 0 0 0.4rem 0, var(--dark-purple) 0 0 0.4rem 0;
    z-index: 1;
    flex-direction: column;  
    border-radius: 50%;
    position: relative;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    padding-bottom: 1rem;
    top:2rem;

 
}

.drop-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    list-style: none;
    
    
    gap: 1rem;
    padding-top: 1rem;
 
}

.menu-container:hover .drop-list {
    display: flex;
    
    
}


.drop-list>a {
    height:calc(4rem + 5dvw);
    width: calc(4rem + 5dvw);
    border-radius: 50%;
    background-color: var(--purple);
    box-shadow: var(--dark-purple) 0 0 0.4rem 0, var(--dark-purple) 0 0 0.4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
}

.drop-list>a>li {
  color: var(--light-pink);
    font-weight: lighter;
    text-align: center;
    font-size:calc(1.8dvh);
    letter-spacing: calc(1dvw);
    transform: scale(.9, 1);

    
  
}
.drop-list> a>li:last-of-type{
    color: var(--light-pink);
    font-weight: lighter;
    text-align: center;
    font-size:calc(1.8dvh);
    letter-spacing: calc(0.4dvw);
    transform: scale(.9, 1);

    
  
}

.col{
    display:flex;
    contain: content;
    justify-content: center;
    align-content: center;
    align-items:center;
   

}
.contact{
    display: flex;
    justify-content: center;
    padding-top: 7rem;
}
.title-container{
    display:flex; 
    contain: content;
    height:fit-content;
    justify-content: end;
    align-content: flex-end;
    flex-direction: column;
    max-width:80dvw;
    padding-top: 1rem;    

}

.title-head{
    display:flex;
    text-align:start;
    font-size:calc(13dvw);
    font-weight: lighter;
    letter-spacing: calc(5dvw);
    transform: scale(.7, 0.8);
    color:  var(--purple);
    overflow-wrap: break-word;
    white-space: nowrap;
    font-weight: 100;
}

.name{
    display:flex;   
    font-size:calc(9dvw);
    font-weight: lighter;
    letter-spacing: calc(2dvw);
    transform: scale(.7, 1);
    color:  var(--purple);
    text-align: center;
    overflow-wrap: break-word;
    white-space: nowrap;
    margin-top: 2dvh;
    font-weight: 100;
   


}

#item-1{
    background-image: url(images/peps-pinne-i-skägget.jpg);
    background-position: top center;
  
}

#item-2{
    background-image: url(../images/realistic-ice-top.jpg);
 
}




/* Responsiv anpassning för mobila enheter */
@media (max-width: 768px) {
    


    .col *{
       
        
        margin: 0;
        max-height: fit-content;
        border: 1px solid var(--hard-pink); 
        background:var(--harder-pink);
        text-align: center;
        justify-content: center;
        min-width:200dvw;
      
        border-radius: 1rem;
       
      
        
    }
    .title-container{
        margin-left: 0;
        min-width:100dvw;
        padding-top: 11dvh;
        padding-bottom: 10dvh;
      
      
    }
    
    .item {
        
        flex-direction: column;
        height: 100dvh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
     
  
      }
      .land{
        flex-direction: column;
        max-width: 100dvw;
        background-attachment: scroll;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
        


      }
    .container {
        flex-direction: column;
        padding: 1rem;
        align-items: center;
        justify-items: center;
    
        padding-left: 3rem;
        justify-content: space-between;
     
   
    }
    .header-container {
        flex-direction: column;
       
        padding: 1rem;
    }
}
@media (min-width: 769px) {
    .item{
        min-height: 200dvh;
        
        background-attachment:fixed;
        
        background-position: top;
        
        background-repeat: no-repeat;
        background-size: cover;
        min-width:min-content;
      }
      .port{
        min-height:300dvh;
        
        background-attachment:scroll;
        
        background-position: top;
        
        background-repeat: no-repeat;
        background-size: cover;
        min-width:min-content;
        
      }
      .container{
        display: flex;
        padding-left: 3rem;
        padding-top:7rem;
     
     
      }


}